#LandingVideo{

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    
}

@keyframes TitleAnimation{

    0%{font-weight: lighter}
    25%{color: brown;}
    50%{transform: scale(.9)}
    100%{color: black;}
}

body p {
    font-size: 1.9em;
    font-family: 'Almarai', sans-serif;
    margin-top: 60px;
    margin-right: 350px;
    margin-left: 350px;
    direction: rtl;
}

span{
    font-size: 2em;
    animation:  TitleAnimation 4s ease-in-out 1s infinite alternate;
}

body svg {
    display: flex;
    margin-top: 30px;
    margin-left: 450px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

svg:hover{
    transform: scale(1.2);
    color: white;
}