.container{
    display: flex;
}

.StartMenu{
    font-size: large;
    color: white;
    justify-content: center;
    align-content: center;
    position: relative;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    border-bottom: 2px solid pink;
}

#LandingVideo{

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    
}

.container h1{
    font-size: 100px;
}
