
body h2{

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
    font-size: 2em;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: white;
    text-shadow: 2px 2px black;
    cursor: pointer;
    z-index: 1;
    transition: all 1s ease-in-out;


}

h2:hover{
    transform: scale(1.2);
}

@keyframes TitleAnimation{

    0%{font-weight: lighter}
    25%{color: brown;}
    50%{transform: scale(.9)}
    100%{color: black;}
}


body h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    margin-top: 100px;
    text-shadow: 2px 2px brown;
    font-family:'Almarai', sans-serif;
    font-size: 6em;
    font-weight: bold;
    z-index: 1;
    transition: all 5s ease-in-out;
    animation:  TitleAnimation 5s ease-in-out 2s infinite alternate;
    
}


#LandingVideo{

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    
}

